[Unit]
Description=enigma2

[Service]
EnvironmentFile=-/etc/default/enigma2
ExecStartPre=/bin/mkdir -p /etc/enigma2
ExecStart=/usr/bin/enigma2.sh
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
