ACTION=="add", SUBSYSTEM=="block", KERNEL=="[hs]d[a-z][0-9]?", RUN+="/etc/udev/mount-helper.sh"
ACTION=="add", SUBSYSTEM=="block", KERNEL=="mmcblk[0-9]p[0-9]", RUN+="/etc/udev/mount-helper.sh"
